
@{
    ViewData["Title"] = "Dashboard";
}


<h1>Welcome to the First Bank Dashboard</h1>

<button type="button" class="btn btn-primary">Check Balance</button> 
<button type="button" class="btn btn-primary">Transfer Funds</button>

<button type="button" class="btn btn-primary">Pay Bills</button>

<button type="button" class="btn btn-primary">View Statements</button>

<a href="/Accounts/Login" class="btn btn-primary">Logout</a>

